<div id="APS" class="panel bg2">
	<div class="inner">
	
		<div id="wall" class="column1">
			<h2><a name="wall">{L_WALL}</a></h2>
			<form id="sendwall" action="{S_POST_WALL}" method="post">
				<textarea name="msg_text" rows="4"></textarea>
				<input name="sendwall" type="hidden" />
				{S_FORM_TOKEN}
				<p class="sub-wall-msg"><input type="submit" value="{L_SUBMIT}" /></p>
			</form>
			<div>
				<!-- BEGIN wall -->
					<form id="deletewall" method="post">
						<div class="panel <!-- IF wall.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg3<!-- ENDIF -->">
							<div class="inner">
								<div class="wall-avatar"><!-- IF wall.POSTER_AVATAR -->{wall.POSTER_AVATAR}<!-- ENDIF --></div>
								<div class="wall-message">
									<h3>
										{wall.POSTER} <span class="topic_time">{L_AT} {wall.MSG_TIME}</span>
										<!-- IF U_EDIT_SELF -->
											<input class="del-wall-msg" type="submit" name="deletewall" value="x"/>
										<!-- ENDIF -->
									</h3>
									<p>{wall.MSG}</p>
								</div>
								<input type="hidden" name="deletewallid" value="{wall.MSG_ID}" />
							</div>
						</div>
					</form>
				<!-- BEGINELSE -->
					<div class="rules">{NO_WALL_POSTS}</div>
				<!-- END wall -->
			</div>
		</div>
		
		<div class="column2">
			<div id="activityfeed">
				<h2>{L_ACTIVITY_FEED}</h2>
				<!-- BEGIN af -->
					<span class="topic_title"><a href="{af.URL}" alt="{af.SUBJECT">{af.SUBJECT}</a></span><br />
					<span class="topic_time">{L_AT} {af.TIME}</span>
					<p>{af.TEXT}</p>
					<!-- IF not af.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
				<!-- BEGINELSE -->
					{USER_NO_POSTS}
				<!-- END af -->
			</div>
			<div id="friends">
				<h2>{L_FRIENDS}</h2>
				<!-- IF S_USER_LOGGED_IN and S_ZEBRA -->
					<!-- IF U_REMOVE_FRIEND -->
						<span><a href="{U_REMOVE_FRIEND}" class="remove-friend" data-ajax="zebra"><strong>{L_REMOVE_FRIEND}</strong></a></span>
					<!-- ELSEIF U_REMOVE_FOE -->
						<span><a href="{U_REMOVE_FOE}" class="remove-friend" data-ajax="zebra"><strong>{L_REMOVE_FOE}</strong></a></span>
					<!-- ELSE -->
						<!-- IF U_ADD_FRIEND -->
							<span><a href="{U_ADD_FRIEND}" data-ajax="zebra"><strong>{L_ADD_FRIEND}</strong></a></span>
						<!-- ENDIF -->
						<!-- IF U_ADD_FOE -->
							<span><!-- IF U_ADD_FRIEND -->&nbsp;<!-- ENDIF --><a href="{U_ADD_FOE}" <!-- IF not U_ADD_FRIEND -->class="add-friend"<!-- ENDIF --> data-ajax="zebra"><strong>{L_ADD_FOE}</strong></a></span>
						<!-- ENDIF -->
					<!-- ENDIF -->
					<hr class="dashed" />
				<!-- ENDIF -->
				<!-- BEGIN friends -->
					<!-- IF friends.S_FIRST_ROW --><ul><!-- ENDIF -->
					<li style="background-image: url('<!-- IF friends.HAS_AVATAR -->{friends.AVATAR}<!-- ELSE -->{T_THEME_PATH}/images/icon_profile.gif<!-- ENDIF -->');">{friends.ABC} {friends.USERNAME}</li>
					<!-- IF friends.S_LAST_ROW --></ul><!-- ENDIF -->
				<!-- BEGINELSE -->
					{L_USER_NO_FRIENDS}
				<!-- END friends -->
			</div>
		</div>
		
	</div>
</div>