/* Advanced Profile System
---------------------------------------- */

#activityfeed .topic_title {
	font-weight: bold;
	font-size: 1.5em;
}

.posted_on {
	font-style: italic;
	font-size: 0.9em;
}

#wall textarea {
	width: 100%;
	resize: none;
	overflow: auto;
}

.wall {
	float: left;
	width: 49%;
	margin: 0;
	padding: 1em;
}

.wallfull {
	float: none;
	width: inherit;
}

.wall3qt {
	float: left;
	width: 85%;
}

.activityfeed {
	margin-left: 51%;
	width: 34%;
	padding: 1em;
}

.activityfeedfull {
	float: right;
	margin: 0;
	width: 47%;
	padding: 1em;
}

.activityfeedtotal {
	float: none;
	width: inherit;
}

.friendslist {
	float: right;
	width: 11%;
	margin: 0;
	padding: 1em;
}


#friends ul {
	list-style-type: none;
	margin: 0;
	padding-left: 5px;
}

#friends li {
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 16px 16px;
	display: block;
	padding: 2px 0 2px 19px;
	margin-bottom: 3px;
	font-weight: bold;
}

.remove-friend {
    background-image: url("./images/remove_icon.gif");
	background-repeat: no-repeat;
	background-position: center left; 
	padding: 2px 0 2px 15px;
}

.af-msg {
    border: none;
	padding-bottom: 15px;
    border-bottom: 2px dashed #D3D3D3;
}

.sub-wall-msg {
	text-align: right;
}

.del-wall-msg {
	position: relative;
	float: right;
	margin: 0;
}

.wall-profile {
	display: inline;
	margin: 2px 0 0 0;
	min-height: 80px;
	width: 19%;
	border: 1px solid transparent;
	border-width: 1px 0 0 0;
	float: left;
	overflow: hidden;
}

.wall-profile img {
	display: block;
	margin-right: 2px !important;
	height: auto !important;
	max-width: 100%;
}

.wall-message {
	padding: 0;
	line-height: 1.48em;
	float: right;
	width: 79%;
	position: relative;
}

#coverphoto .profile-avatar {
	border: 4px solid white;
	border-top-width: 0;
	border-bottom-width: 3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: -5px;

}