/* Advanced Profile System
---------------------------------------- */

#APS .topic_title {
	font-weight: bold;
	font-size: 1.5em;
}

#APS .topic_time {
	font-style: italic;
	font-size: 0.9em;
}

#APS textarea {
	width: 100%;
	resize: none;
	overflow: auto;
}

#activityfeed {
	float: left;
	clear: left;
	width: 74%;
}

#friends {
	float: right;
	clear: right;
	width: 24%;
}


#friends ul {
	list-style-type: none;
	margin: 0;
	padding-left: 5px;
}

#friends li {
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 16px 16px;
	display: block;
	padding: 2px 0 2px 19px;
	margin-bottom: 3px;
	font-weight: bold;
}

.remove-friend {
    background-image: url("./images/remove_icon.gif");
	background-repeat: no-repeat;
	background-position: center left; 
	padding: 2px 0 2px 15px;
}

.sub-wall-msg {
	text-align: right;
}

.del-wall-msg {
	position: relative;
	float: right;
	margin: -3px 10px;
}

.wall-avatar {
	display: inline;
	margin: 2px 0 0 0;
	min-height: 80px;
	width: 19%;
	border: 1px solid transparent;
	border-width: 1px 0 0 0;
	float: left;
	overflow: hidden;
}

.wall-avatar img {
	display: block;
	margin-right: 2px !important;
	height: auto !important;
	max-width: 100%;
}

.wall-message {
	padding: 0;
	line-height: 1.48em;
	float: right;
	width: 79%;
	position: relative;
}

#coverphoto {
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #ECF3F7;
	border-radius: 7px;
	max-width: 100%;
	min-height: 100px;
	overflow: hidden;
	margin-bottom: 4px;
}

#coverphoto .bg1 {
	background-color: transparent;
}

#coverphoto .profile-avatar {
	border: 4px solid white;
	border-top-width: 0;
	border-bottom-width: 3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: -5px;

}

#coverphoto .left-box {
	color: white;
}

#coverphoto dt {
	color: white;
}